<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RC_API_Suite">

	<listeners>

		<listener class-name="com.Agility.ExtentReport.ExtentListeners" />

	</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Agility.RCTests.RCAPITests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- RC_API_Suite -->
